@import "node_modules/bootstrap/scss/bootstrap";

$btn-color:#00305d;

.btn-info {
    @include button-variant($btn-color, darken($btn-color, 7.5%), darken($btn-color, 10%), lighten($btn-color,5%), lighten($btn-color, 10%), darken($btn-color,30%));
}

.btn:focus {
    box-shadow: none;
}

textarea,
input[type="text"] {
    box-shadow: none;
    border: none;
}

.nav-link {
    color: #FFFFFF;
}

.nav-link:hover {
    color: #AAA;
}

body {
    width: 100%;
    background-color: #F8F8F8;
}

h1 {
    font-size: 64px;
    padding-bottom: 0px;
}

h2 {
    font-size: 24px;
    margin-top: -20px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 0px;
    margin-top: -20px;
    margin-bottom: 0;
}

.about-icon {
    color: #CCC;
}

.button-ico {
    float: right; 
    margin-top: 5px;
}

.part-name {
    padding-top: 3%;
    padding-bottom: 3%;
}

.films-row {
    font-size: 18px;  
}

.films-order {
    text-align: center;
}

.films-date {
    text-align: right;
}

.delay {
    color: #666;
    margin-left: 0px;
}

.comment {
    padding-left: 0px;
}

.full-width {
    width: 100%;
    padding: 0;
    margin: 0;
}

#background-image-div {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding: 0;
}

#background-image {
    width: 100%;
}

#header-button {
    padding-bottom: 10%;
    padding-top: 20px;
    width: 200px;
}

#header {
    padding-top: 15%;
    width: 400px;
}

#about {
    margin-top: 5%;
}

#input-comment {
    border: none;
}

#button-comment {
    border: none;
    position: absolute; 
    right: 40px; 
    top: 30px;
}

#comments-number {
    font-size: 18px;
    color: #888
}

#map {
    height: 400px;
    width: 100%;
}

.citation {
    color: white;
    text-align: center;
}

#citation-container {
    background-color: black;
}

#citation-text {
    font-size: 24px;
    padding-top: 40px;
}

#citation-author {
    font-size: 12px;
    margin-top: -20px;
    padding-bottom: 40px;
    margin-bottom: 0px;
}